<footer class="dark-background">
  <div class="spacer"></div>
  <div class="footer-container">
    <div class="footer-column">{%- include launch-mark.html -%}</div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="{{ '/docs/' | relative_url }}">Documentation</a></div>
      <div><a class="footer-link" href="{{ '/docs/csharp/' | relative_url }}">C# Docs</a></div>
      <div><a class="footer-link" href="{{ '/docs/java/' | relative_url }}">Java Docs</a></div>
      <div><a class="footer-link" href="{{ '/docs/python/' | relative_url }}">Python Docs</a></div>
      <div>
        <a class="footer-link" href="{{ '/docs/typescript/' | relative_url }}">Typescript Docs</a>
      </div>
    </div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="{{ '/docs/intro' | relative_url }}">Learn UTAF</a></div>
      <div>
        <a class="footer-link" href="{{ '/docs/getting-started' | relative_url }}">Quick Start</a>
      </div>
      <div><a class="footer-link" href="">Topic 2</a></div>
      <div><a class="footer-link" href="">Topic 3</a></div>
    </div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="">Community</a></div>
      <div><a class="footer-link" href="">Code of Conduct</a></div>
      <div><a class="footer-link" href="">Meet the Team</a></div>
      <div><a class="footer-link" href="">Contributors</a></div>
      <div><a class="footer-link" href="">Acknowledgements</a></div>
    </div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="">More</a></div>
      <div><a class="footer-link" href="{{ '/blog/' | relative_url }}">Blog</a></div>
      <div><a class="footer-link" href="">Privacy</a></div>
      <div><a class="footer-link" href="">Terms</a></div>
    </div>
  </div>
  <div class="spacer"></div>
</footer>
