<footer class="dark-background">
  <div class="spacer"></div>
  <div class="footer-container">
    <div class="footer-column">{%- include launch-mark.html -%}</div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="/docs/">Documentation</a></div>
      <div><a class="footer-link" href="/docs/csharp/">C# Docs</a></div>
      <div><a class="footer-link" href="/docs/java/">Java Docs</a></div>
      <div><a class="footer-link" href="/docs/python/">Python Docs</a></div>
      <div>
        <a class="footer-link" href="/docs/typescript/">Typescript Docs</a>
      </div>
    </div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="/docs/intro">Learn UTAF</a></div>
      <div>
        <a class="footer-link" href="/docs/getting-started">Quick Start</a>
      </div>
      <div><a class="footer-link" href="">Topic 2</a></div>
      <div><a class="footer-link" href="">Topic 3</a></div>
    </div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="">Community</a></div>
      <div><a class="footer-link" href="">Code of Conduct</a></div>
      <div><a class="footer-link" href="">Meet the Team</a></div>
      <div><a class="footer-link" href="">Contributors</a></div>
      <div><a class="footer-link" href="">Acknowledgements</a></div>
    </div>
    <div class="footer-column">
      <div><a class="footer-title-link" href="">More</a></div>
      <div><a class="footer-link" href="/blog/">Blog</a></div>
      <div><a class="footer-link" href="">Privacy</a></div>
      <div><a class="footer-link" href="">Terms</a></div>
    </div>
  </div>
  <div class="spacer"></div>
</footer>
