<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if page.title %}
  <title>{{page.title}} | UTAF 2.0</title>
  {% else %}
  <title>UTAF 2.0 - Launch by NTT Data</title>
  {% endif %} {%- seo -%}

  <link
    rel="stylesheet"
    href="{{ '/assets/css/styles.css' | absolute_url }}"
  />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link
    href="https://cdn.prod.website-files.com/638e6b98608a733e5b0a33a2/63b5e422667c181974838148_Icon%2032.png"
    rel="shortcut icon"
    type="image/x-icon"
  />
  <link
    href="https://cdn.prod.website-files.com/638e6b98608a733e5b0a33a2/63b5e4252b18e65dad5336df_Icon%20256.png"
    rel="apple-touch-icon"
  />
  <link
    href="//fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,700italic,400italic"
    rel="stylesheet"
    type="text/css"
  />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
