//
// Default colors for the site
//
$launch-black: #1a1b1e;
$launch-white: white;

// Blue(s)
$launch-blue-light: #4d7cf5;
$launch-blue: #1e5af2;
$launch-blue-dark: #0a37aa;

// Gray(s)
$launch-gray-lightest: #fafafa;
$launch-gray-lighter: #f1f2f3;
$launch-gray-light: #e4e5e7;
$launch-gray: #9296a0;
$launch-gray-dark: #474a52;
$launch-gray-darker: #2a2a32;

// Need to see if these are current
$launch-blue-lightest: #e3f0f6;
$launch-blue-lighter: #badae8;
$launch-pink-light: #ffdcdc;
$launch-pink: #ffa7a7;
$launch-red: #f11d36;
$launch-yellow: #ecf100;
$launch-yellow-light: #f7f99a;
