---
layout: base
markdown: 0
---

<section>
  <div class="docs-container">
    <aside class="docs-navigation">
      <input id="q" placeholder="Search all docs" />

      {% include sidebars/docs-nav.html %}
    </aside>

    <section class="docs-content">
      <h1 class="doc-title">{{ page.title }}</h1>
      {% if page.markdown == 1 %} {{ content | markdownify }} {% else %} {{
      content }} {% endif %}
    </section>

    {% if page.sidebar %}
    <nav class="docs-sidebar">
      {% capture sidebar %}{% include {{ page.sidebar }} %}{% endcapture %} {%
      if sidebarHTML %} {{ sidebar }} {% else %} {{ sidebar | markdownify }} {%
      endif %}
    </nav>
    {% endif %}
  </div>
</section>
